[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
assertpy = "*"
pytest = "*"
jsonschema = "*"
allure-pytest = "*"
pytest-xdist = {extras = ["psutil"], version = "*"}
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
